/* Write your code here. */
.bgContainer {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.congratsCard {
  background-color: hsl(185, 96%, 90%);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
